JOINPOINT_CENTRAL_IMAGE=ghcr.io/fernandodiazm5/joinpoint-central:<VERSION_INMUTABLE>
JOINPOINT_CENTRAL_ENV_FILE=/opt/joinpoint-central/config/central.env
LICENSE_SIGNING_PRIVATE_KEY_FILE=/opt/joinpoint-central/secrets/license-signing.pem
CENTRAL_NGINX_CONFIG=/opt/joinpoint-central/config/nginx.conf
CENTRAL_TLS_DIR=/opt/joinpoint-central/tls
CENTRAL_ACME_CHALLENGE_DIR=/opt/joinpoint-central/acme-challenge
DB_ROOT_PASSWORD=<GENERADO_LOCALMENTE>
DB_APP_PASSWORD=<GENERADO_LOCALMENTE>
